/*
sass --watch ./stylesheets/contacts.scss ./stylesheets/contacts.css
sass ./stylesheets/contacts.scss ./stylesheets/contacts.css
*/

// VARIABLES
$main-color-bright    : #fff;
$main-color-dark      : #1f282c;
$main-color-link-hover: #778beb;

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}


.masthead {
    background: none;
    margin: 0;
    padding: 0;
}


.title {
    font-weight: bold;
    // padding-top: 15%;
}

.contacts-link {
	text-decoration: underline;
	color: #000;

	
	&:hover {
		color: #000;
		opacity: 0.7;
	}
}


/* ICONS HOVER ANIMATION */

.contact-buttons a {
    display: inline-flex;
    text-decoration: none;
    font-size: 3.6rem;
    width: 150px;
    height: 150px;
    color: $main-color-bright;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 15;
    z-index: 2;

    &:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: $main-color-dark;
        border-radius: 50%;
        z-index: -1;
        transition: 0.3s ease-in;
    }

    &:hover {
        &:before {
        transform: scale(0);
        }

        & i {
            background: linear-gradient(45deg, $main-color-dark, $main-color-dark);
            -webkit-background-clip: text;
               -moz-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
               -moz-text-fill-color: transparent;
            transform: scale(1.6);
        }

				/* СМЕНА ЦВЕТА НА ЗНАЧКЕ ЛОКАЦИИ
				& .location {
            background: linear-gradient(45deg, #22a6b3, #30336b);
            -webkit-background-clip: text;
               -moz-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
               -moz-text-fill-color: transparent;
            transform: scale(1.6);
        } */
    }

    & i {
        transition: 0.3s ease-in;
    }
}