/*
Terminal sass commands
sass --watch ./stylesheets/style.scss ./stylesheets/style.css
sass ./stylesheets/style.scss ./stylesheets/style.css
sass --watch ./stylesheets/img-gallery-style.scss ./stylesheets/img-gallery-style.css
sass ./stylesheets/img-gallery-style.scss ./stylesheets/img-gallery-style.css
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  color: #1f282c;
  font-size: 16px;
}

/* TOGGLER ICON COLOR CHANGE*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(37, 54, 71)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler {
  padding: 0.0625rem 0.375rem;
}

/* NAVBAR BACKGROUND COLOR CHANGE FUNCTION */
.navbar.scrolled {
  background-color: #1f282c;
  transition: background 500ms;
}

/* BRAND AND LINKS' COLOR CHANGE */
#mainNavbar {
  /*.navbar-brand {
        color: $main-color-dark;
        font-size: 1.5rem;
  } */
}
#mainNavbar .nav-link {
  color: #1f282c;
}
#mainNavbar .nav-link:hover {
  opacity: 0.7;
}
#mainNavbar .nav-social-media-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 1.5rem;
  width: 40px;
  height: 50px;
  color: #1f282c;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15;
}
#mainNavbar .nav-social-media-buttons a.scrolled {
  background-color: #1f282c;
  transition: background 500ms;
}
#mainNavbar .nav-social-media-buttons a:hover {
  opacity: 0.7;
}
#mainNavbar .scrolled {
  color: #fff;
}

button:focus {
  outline: none;
}

.masthead {
  height: 100vh;
  min-height: 450px;
  background-image: url("../imgs/bg-header-500kb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
}
.masthead .logo {
  color: #fff;
  text-shadow: 1px 1px 2px #1f282c;
  padding-top: 70vh;
  font-size: 3vw;
  font-weight: 300;
}
.masthead .logo .logo-name {
  font-size: 6vw;
  font-weight: 600;
}

/* MAIN CONTENT */
.start-page-content h2 {
  color: #1f282c;
  font-size: 2rem;
}
.start-page-content p {
  color: #1f282c;
  font-size: 1.2;
  line-height: 2;
}

.main-page-content {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* MAIN PART */
/* FOOTER */
footer {
  color: #fff;
  background-color: #1f282c;
}
footer .footer-link {
  color: #fff;
  text-decoration: none;
}
footer .footer-link:hover {
  opacity: 0.7;
}

.social-media-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  color: #1f282c;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15;
  z-index: 2;
}
.social-media-buttons a:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}
.social-media-buttons a:hover:before {
  transform: scale(0);
}
.social-media-buttons a:hover i {
  background: linear-gradient(45deg, #fff, #fff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transform: scale(1.2);
}
.social-media-buttons a i {
  transition: 0.1s ease-in;
}

/*# sourceMappingURL=style.css.map */
