// VARIABLES
$main-color-white       : #fff;
$main-color-black       : #000;
$main-color-link-hover  : #778beb;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: $main-color-white;
    font-family: "Nunito", sans-serif;
    color:$main-color-black;
    font-size: 16px;
}

/* TOGGLER ICON COLOR CHANGE*/
.navbar-light {
    .navbar-toggler-icon {
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .navbar-toggler {
        // border-color: #1f282c; ДУМАЮ, ЧТО БЕЗ ГРЫНИЦ БУДЕТ ПИЗЖЕ
        border: 0px;
    }
}

.navbar-dark {
    .navbar-toggler-icon {
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
}

.navbar-toggler {
    padding: 0.375rem;
}

/* NAVBAR BACKGROUND COLOR CHANGE FUNCTION */
.navbar {
    &.scrolled {
        background-color: $main-color-black /*#1f282c*/;
        transition: background 500ms;
    }
}

/* BRAND AND LINKS' COLOR CHANGE */
#mainNavbar {
    .nav-link {
        color: $main-color-black /*#1f282c*/;
        text-transform: capitalize;

    }

    .navbar-brand {
        // margin-left: 0;
        // padding: 0;
        color: $main-color-black /*#1f282c*/;
        font-size: 1.5rem;
    }

    .nav-link:hover {
        color: $main-color-link-hover /*#546de5*/;
    }

    .scrolled {
        color: $main-color-white /*#FFF*/;
    }
}


button:focus {
    outline: none;
}

.masthead {
    height: 100vh;
    min-height: 450px;
    background-image: url('../imgs/bg-header-500kb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // width: 100%;
}

/* MAIN CONTENT */

.start-page-content {
    h2 {
        color: $main-color-black /*#1f282c*/;
        font-size: 2rem;
    }

    p {
        color: $main-color-black /*#1f282c*/;
        font-size: 1.2;
        line-height: 2;
    }
}

.main-page-content {
    margin-top: 100px;
    margin-bottom: 100px;
}



/* MAIN PART */